* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: '20 Kopeek';
    src: url('fonts/20Kopeek-Book.eot');
    src: url('fonts/20Kopeek-Book.eot?#iefix') format('embedded-opentype'),
    url('fonts/20Kopeek-Book.woff2') format('woff2'),
    url('fonts/20Kopeek-Book.woff') format('woff'),
    url('fonts/20Kopeek-Book.ttf') format('truetype'),
    url('fonts/20Kopeek-Book.svg#20Kopeek-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


h1 {
    font-family: '20 Kopeek';
    font-size: 55px;
    line-height: 55px;
    color: #181818;
    font-weight: 400;
}

.h1 {
    margin-top: 150px;
    display: block;
}
header {
 position: absolute;
    width: 100%;
    padding-top: 32px;

}
.box_head { margin: auto;
    max-width: 1110px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    display: flex;

}
.logo img {
    padding-right: 22px;
}
.span_logo {
    display: block;
    max-width: 193px;
    font-family: '20 Kopeek';
    font-size: 15px;
    color: #ffffff;
}

.block_phone {
    display: flex;
    justify-content: flex-end;
    align-items: center;


}
.phone {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
    line-height: 22px;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
padding-top: 7px;
    padding-right: 27px;
    padding-bottom: 7px;
    padding-left: 33px;
}
.fb {
    margin-left: 23px;
}
.ig {
    margin-left: 23px;
}
.section_1 {
    background-image: url("images/bg-1.png");
    background-size: 100%;
    background-position: top;
    background-size: cover;
    height: 100vh;
    position: center;
    background-repeat: no-repeat;
    padding-top: 344px;
    padding-bottom: 309px;
    box-sizing: border-box;

}

.box_1 { margin: auto;
    max-width: 1110px;

}
.box_1_h2 {
    font-family: '20 Kopeek';
    font-size: 55px;
    line-height: 55px;
    color: #181818;

}

.span_box_1 {
    font-family: '20 Kopeek';
    font-size: 34px;
    line-height: 37px;
    display: block;
    padding-top: 30px;

}
.section_1_button {
    display: flex;
    padding-top: 65px;
}
.button_portfolio {
    background: #FFFFFF;
    border-radius: 40px;
    font-size: 18px;
    color: #181818;
    line-height: 25px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 23px 47px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.button_zayavka {
    background: #FFFFFF;
    border-radius: 40px;
    font-size: 18px;
    color: #181818;
    line-height: 25px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 23px 47px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;

}

.section_2 {
    width: 100%;
    padding-top: 70px;
    background-color: #ffffff;
    box-sizing: border-box;
    padding-bottom: 133px;

}
.box_2 {
    margin: auto;
    max-width: 1110px;

}
.box_2_h2 {
    font-family: '20 Kopeek';
    font-size: 38px;
    line-height: 41px;
    color: #181818;
}
.box_2_2 {
    display: flex;
    padding-top: 15px;

}
.box_2_2 p {
    font-size: 18px;
    color: #181818;
    font-family: '20 Kopeek';
    margin-bottom: 40px;
    line-height: 25px;
    font-weight: 400;
}

.box_2_2 img {
    padding-right: 30px;

}
.number {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

}

.number_box {
    display: flex;

}

.number_span {
    font-family: '20 Kopeek';
    font-size: 55px;
    line-height: 55px;
    color: #181818;
    font-weight: 400;
}
.number_p {
    padding-top: 25px;
    padding-left: 8px;
    display: block;
    max-width: 140px;
    font-family: '20 Kopeek';
    font-size: 18px;
    line-height: 25px;
    color: #181818;
    font-weight: 400;

}
.number_box_text {
    display: block;
    max-width: 260px;
    font-family: '20 Kopeek';
    font-size: 15px;
    line-height: 19px;
    color: #181818;
    font-weight: 400;
    padding-top: 16px;
    padding-left: 8px;

}

.cost {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 120px;
}
.cost img {
    padding-top: 15px;
}

.cost_h2 {
    font-family: '20 Kopeek';
    font-size: 38px;
    line-height: 41px;
    color: #181818;
    font-weight: 400;
}

.cost_box {
    padding-right: 82px;
    padding-top: 50px;
}
.cost_box p {
    font-family: '20 Kopeek';
    font-size: 18px;
    line-height: 25px;
    color: #181818;
    font-weight: 400;
    padding-bottom: 20px;
    padding-left: 13px;
}
.cost_span {
    background-color: #2B59C3;
    border-radius: 5px;
    display: block;
}
.cost_span p {
    font-family: '20 Kopeek';
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 400;
    padding-left: 13px;
    padding-bottom: 11px;
    padding-top: 10px;
}

.box_3 {
    margin: auto;
    max-width: 1110px;
    padding-bottom: 100px;


}
.box_3_content {
    padding-bottom: 100px;
}

.box_3_h2 {
    font-family: '20 Kopeek';
    font-size: 55px;
    line-height: 55px;
   font-weight: 400;
    color: #181818;

}
.box_3_text {
margin-top: 38px;
    display: flex;

}
.box_3_text_all {
    padding-right: 90px;

}

.box_3_a {
    font-family: '20 Kopeek';
    font-size: 18px;
    line-height: 25px;
    color: #181818;
    padding: 23px 47px;
    text-decoration: none;
    display: flex;
    border-color: black;
    border: 1px solid;
border-radius: 40px;
    box-sizing: border-box;
    text-align: center;
    max-width: 231px;
    max-height: 71px;
    align-items: center;
    justify-content: center;

}
.box_3_p {
    font-family: '20 Kopeek';
    font-size: 18px;
    line-height: 25px;
    color: #181818;
}

.box_3_button {
    font-family: '20 Kopeek';
    font-size: 26px;
    line-height: 28px;
    color: #ffffff;
    background-color: #2B59C3;
    border-radius: 40px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 23px 47px;
    max-width: 250px;
    text-decoration: none;
    box-sizing: border-box;
    position: relative;
    margin-top: -47px;

}

.box_4 {
    margin: auto;
    max-width: 1110px;
    padding-bottom: 77px;
}

.box_4_h2 {
    font-family: '20 Kopeek';
    font-size: 38px;
    line-height: 42px;
    font-weight: 400;
    color: #181818;

}

.box_4_h3 {
    font-family: '20 Kopeek';
    font-size: 26px;
    line-height: 28px;
    font-weight: 400;
    color: #ffffff;
    padding-left: 14px;

}

.box_4_block {
    display: flex;
    padding-top: 15px;


}

.box_4_text {
    padding-left: 16px;

}

.box_4_text p {
    font-family: '20 Kopeek';
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    color: #181818;
    padding-left: 14px;
    padding-top: 33px;

}
.box_4_bloc_text {
background-color: #2B59C3;
    padding-top: 11px;
    padding-bottom: 18px;
    padding-right: 39px;
    border-radius: 5px;

}

.box_4_bloc_text p {
    font-family: '20 Kopeek';
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    color: #ffffff;
    padding-left: 14px;
    padding-top: 33px;
}


.box_5 {
    margin: auto;
    max-width: 1110px;
    padding-bottom: 150px;

}
 .box_5 h2 {
     font-family: '20 Kopeek';
     font-size: 38px;
     line-height: 42px;
     font-weight: 400;
     color: #181818;
 }
.box_5 h3 {
    font-family: '20 Kopeek';
    font-size: 26px;
    line-height: 28px;
    font-weight: 400;
    color: #181818;
    margin-top: 11px;
}

.box_5_form {
    margin-top: 27px;

}
.box_5_f_flex {
    display: flex;
}

.box_5_input {
height: 71px;
    box-sizing: border-box;
    border-radius: 10px;
   border: 1px solid;
    margin-right: 30px;
    padding-left: 29px;
    width: 350px;
    font-family: '20 Kopeek';
    font-size: 18px;
    line-height: 25px;
    color: #868686;

}
.box_5_input :hover {
    text-decoration: none;
    border-style: none;

}

.box_5_button {
    font-family: '20 Kopeek';
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    color: #ffffff;
    background-color: #2B59C3;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 23px 47px;
    max-width: 228px;
    height: 71px;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
}

.box_5_radio {
    margin-top: 21px;
    font-family: '20 Kopeek';
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #181818;
}
.box_5_radio_input {
    border-radius: 5px;
    width: 18px;
    height: 18px;
    margin-right: 11px;


}
.box_5_radio_span {
    color: #2B59C3;;
}


.box_6 {
    margin: auto;
    max-width: 1110px;
    padding-bottom: 150px;

}
.box_6_h2 {
    font-family: '20 Kopeek';
    font-size: 55px;
    line-height: 55px;
    font-weight: 400;
    color: #181818;
    display: block;
}

.block_6 {
    display: flex;
    margin-top: 83px;


}
.block_6_text_img {

    padding-right: 155px;
}
.block_6_text_img h3 {
    font-family: '20 Kopeek';
    font-size: 26px;
    line-height: 28px;
    font-weight: 400;
    color: #181818;
    display: block;
    width: 283px;
}
.block_6_text_img img {
    padding-bottom: 23px;
}
.block_6_text {
    display: flex;
}
.block_6_text p {
    padding-right: 30px;
    padding-bottom: 15px;
    width: 160px;
    font-family: '20 Kopeek';
    font-size: 15px;
    line-height: 19px;
    font-weight: 400;
    color: #181818;
}

.section_7 {
    background-image: url("images/bg-2.png");
    background-position: top;
    background-size: cover;
    height: 100vh;
    position: center;
    background-repeat: no-repeat;
    padding-top: 282px;
    padding-bottom: 80px;



}

.box_7 {
    margin: auto;
    max-width: 1110px;

}
.box_7 h2 {
    font-family: '20 Kopeek';
    font-size: 55px;
    line-height: 55px;
    font-weight: 400;
    color: #ffffff;
    display: block;
}

.number_2 {
    display: flex;
    align-items: stretch;
    margin-top: 40px;

}

.number_2_box {
    display: flex;
    margin-right: 28px;

}

.number_2_span {
    font-family: '20 Kopeek';
    font-size: 55px;
    line-height: 55px;
    color: #ffffff;
    font-weight: 400;
}
.number_2_p {
    padding-top: 25px;
    padding-left: 8px;
    display: block;
    min-width: 160px;
    font-family: '20 Kopeek';
    font-size: 15px;
    line-height: 19px;
    color: #ffffff;
    font-weight: 400;

}

footer {
    padding-top: 150px;
    padding-bottom: 20px;
}
footer h2 {
    font-family: '20 Kopeek';
    font-size: 38px;
    line-height: 41px;
    font-weight: 400;
    color: #181818;
    display: block;
}
.footer_block {
    display: flex;
}

.box_footer {
    margin: auto;
    max-width: 1110px;

}

.footer_form {
    margin-right: 125px;

}
.footer_form_block {
    margin-top: 30px;

}
.footer_ul_li {
    list-style-type: none;
    padding-bottom: 10px;
}

.footer_input {
    height: 71px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid;
    padding-left: 29px;
    width: 450px;
    font-family: '20 Kopeek';
    font-size: 18px;
    line-height: 25px;
    color: #868686;

}
.footer_input :hover {
    text-decoration: none;
    border-style: none;

}

.footer_button {
    font-family: '20 Kopeek';
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    color: #ffffff;
    background-color: #2B59C3;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 23px 47px;
    max-width: 228px;
    height: 71px;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
    margin-top: 48px;
}

.footer_check {
    margin-top: 21px;
    font-family: '20 Kopeek';
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #181818;
    border-radius: 5px;
}

.footer_check_span {
    color: #2B59C3;;
}

.footer_contact {
    display: block;

}
.footer_contact_block {
    margin-top: 30px;
}
.footer_contact p {
    font-family: '20 Kopeek';
    font-size: 26px;
    font-weight: 400;
    line-height: 28px;
    color: #181818;
   padding-bottom: 15px;
}

.footer_media {
margin-top: 127px;
}

.footer_block {
    display: flex;
    padding-top: 20px;

}
.footer_block_text {

    position: relative;
    background-color: #2B59C3;
    border-radius: 10px;
    padding-left: 13px;
    padding-top: 6px;
    padding-bottom: 56px;
    width: 255px;
    margin-right: 30px;
    box-sizing: border-box;

}
.footer_block_text_1 {

    position: relative;
    background-color: #2B59C3;
    border-radius: 10px;
    padding-left: 13px;
    padding-top: 6px;
    padding-bottom: 56px;
    width: 255px;
    height: 106px;
    margin-right: 30px;
    box-sizing: border-box;

}

.footer_block_text_1 p {
    font-family: '20 Kopeek';
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #ffffff;
}
.footer_block_text_1 a {
    color: #ffffff;
    text-decoration: none;
    margin-top: 25px;
    position: absolute;

}

.footer_block_text_2 {

    position: relative;
    background-color: #2B59C3;
    border-radius: 10px;
    padding-left: 13px;
    padding-top: 6px;
    padding-bottom: 56px;
    width: 255px;
    height: 131px;
    margin-right: 30px;
    box-sizing: border-box;

}

.footer_block_text_2 p {
    font-family: '20 Kopeek';
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #ffffff;
}
.footer_block_text_2 a {
    color: #ffffff;
    text-decoration: none;
    margin-top: 25px;
    position: absolute;

}

.footer_block_text_3 {

    position: relative;
    background-color: #2B59C3;
    border-radius: 10px;
    padding-left: 13px;
    padding-top: 6px;
    padding-bottom: 56px;
    width: 255px;
    height: 131px;
    margin-right: 30px;
    box-sizing: border-box;

}

.footer_block_text_3 p {
    font-family: '20 Kopeek';
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #ffffff;
}
.footer_block_text_3 a {
    color: #ffffff;
    text-decoration: none;
    margin-top: 25px;
    position: absolute;

}


.footer_block_text_4 {

    position: relative;
    background-color: #2B59C3;
    border-radius: 10px;
    padding-left: 16px;
    padding-top: 6px;
    padding-bottom: 56px;
    width: 256px;
    height: 162px;
    margin-right: 30px;
    box-sizing: border-box;

}

.footer_block_text_4 p {
    font-family: '20 Kopeek';
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #ffffff;
}
.footer_block_text_4 a {
    color: #ffffff;
    text-decoration: none;
    margin-top: 31px;
    position: absolute;

}


.footer_copy {
    margin-top: 38px;
    font-family: '20 Kopeek';
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;

}